.app-news-home {
    border:0px solid red;
    margin: 10px;
}
.title {
    cursor: pointer;
}
.url {
    color:#92949c;
    margin: 0 5px;
}
.by {
    color:#b2b4b4;
}
.author {
    color:#2e220d;
    margin: 0 5px;
}
.time {
    color:#aba59c;
}
.hide {
    color:#4e1811;
    margin: 0 5px;
    cursor: pointer;
}
.news-line-chart {
    border-top:3px solid #ff6604;
    border-bottom:3px solid #ff6604;
    height: 400px;
}
.add-up-vote {
    cursor: pointer;
}