<div class="app-news-home">
    <div class="news-table">
        <p-table [value]="news" [paginator]="true" [responsive]="true" [rows]="rows">
            <ng-template pTemplate="header">
                <tr>
                    <th>Comments</th>
                    <th>Vote Count</th>
                    <th>Up Count</th>
                    <th>New Details</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-news>
                <tr>
                    <td>{{news.num_comments}}</td>
                    <td>{{news.points}}</td>
                    <td>
                        <span>
                            <img (click)="addUpVote(news)" class="add-up-vote" 
                                src="assets/images/grayarrow.gif" />
                        </span>
                    </td>
                    <td>
                        <span class="title" (click)="navigateToNewsDetail(news)">{{news.title}}</span>
                        <span class="url">({{news.url}})</span>
                        <span class="by">by</span>
                        <span class="author">{{news.author}}</span>
                        <span class="time">{{news.created_at | date: "H"}} hours Ago</span>
                        <span id="hide" class="hide" (click)="hideNewsItem(news)">[Hide]</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="news-line-chart">
        <app-time-line-chart [news]="news"></app-time-line-chart>
    </div>
    
</div>
